.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #28a745;
}
h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}
p {
    line-height: 1.6;
    margin-bottom: 20px;
}
.footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
}