
.box > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#number {
    font-size: 1.5rem;
}
.row{
    width: 100%;
}
.contTable {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: flex-start;
}
.contTableSVG {
    display: flex;
    width: 15%;
    justify-content: center;
}
.contTable > .col:nth-child(2) {
    width: 100%;
    display: flex;
    align-items: center;
}
footer {
    justify-content: space-between;
}
footer > .col > a > label {
    color: white;
}
footer > .col > a > label:hover {
    text-decoration: underline;
    cursor: pointer;
}