form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 20px;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}

input[type="date"],
input[type="text"],
input[type="email"],
button {
    padding:90;
    border-radius: 5px;
    border: 0px solid #eee8e8;
    height: 2rem;
    text-align: center;
}
input[type=date] {
    width: fit-content;
}
input[type="text"]#random-number {
    margin-top: 10px;
    text-align: center;
    background-color: #28a745;
    font-size: 10px;
    font-weight: bold;
}

.lotteries {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    gap: 1rem;
    justify-content: center;
}

.lottery {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: 2px solid #28a745;
    border-radius: 10px;
    padding: 24px;
    transition: border-color 0.3s, background-color 0.3s;
    width: 21%;
    text-align: center;
}


.lottery.selected {
    border-color: #218838;
    background-color: #28a745;
}

.lottery:hover {
    border-color: #218838;
    background-color: #28a745;
}
.lottery-form {
    display: flex;
    flex-direction: column;
    width: 0%;
    height: px;
}
.align-center {
    display: flex;
    align-items: center;
}
.lottery-logo {
    font-weight: bold;
    width: 1px;
    color: rgb(7, 6, 6);
    text-align: center;
    width: 100px;
    height: 80px;
}

.buttons {
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

button {
    padding: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color:#28a745;
    transition: background-color 0.3s;
}

#generate-number {
    background-color: #218838;
}

#submit-button {
    background-color: #28a745;
}

#generate-number:hover {
    background-color: #218838;
}

#submit-button:hover {
    background-color: #218838;
}